<?php

return [
    'jwt' => [
        'expire' => false,
        'issuer' => 'subdomain.issuing-host.tld',
        'verify' => true,
        'il_public_key_file' => 'file:///path/to/il.excell-mobility.de.crt'
    ]
];